.cs-bg-wrapper {
	background-size: cover;
	overflow: hidden;

	&.cs1 {
		background: url("/public/assets/images/people-1.png") 0 0 no-repeat
			fixed;
		background-size: cover;
	}
	&.cs2 {
		background: url("/public/assets/images/typing-on-laptop.png") 0 0
			no-repeat fixed;
		background-size: cover;
	}

	.cs__overlay {
		background: rgba(0, 0, 0, 0.75);
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		z-index: 2;
	}

	.cs__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
		width: 70%;
		height: 100vh;
		margin: 0 auto;
	}
}
