.navbar {
	background: $gray-shade !important;
	backdrop-filter: blur(37.5px) !important;
}

.navbar-toggler {
	border-color: $light-gray;

	&:focus {
		box-shadow: $light-gray-shadow;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(229, 226, 215)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.navbar-brand,
a.nav-link {
	font-size: 1.5rem;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	color: $light-gray;
}
