/*

Bootstrap Breakpoints/Classes

Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px

*/

/* Laptops down */

@media only screen and (max-width: 1200px) {
	.contact-wrapper {
		flex-direction: column;
		padding: 2em 0;
		margin: 3em auto 0;
	}

	.contact-letter-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.contact-letter {
			margin: 0;
		}
	}
}

/* Laptops only */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
	.hero {
		padding-top: 2em;
		margin: 0 2em;
	}

	#hero__img img {
		width: 26em;
		height: auto;
	}
}

/* Tablets down */

@media only screen and (max-width: 992px) {
	.navbar {
		padding: 1em;

		.navbar__burger-container {
			display: flex;

			.navbar__burger {
				display: flex;
				flex-direction: column;
				border: 2px solid $dark-green;
				border-radius: 25%;
				margin-left: 2rem;
				padding: 1rem;
				cursor: pointer;

				.navbar__burger-line {
					width: 1.75rem;
					height: 0.15rem;
					background-color: $dark-green;
					border-radius: 25%;

					&:not(:last-child) {
						margin-bottom: 0.5rem;
					}
				}
			}
		}

		.navbar__logo-container {
			margin-left: auto;
			margin-right: 4rem;
		}

		.navbar__links-container {
			display: none !important;
		}
	}
}

/* Tablets only */

@media only screen and (min-width: 577px) and (max-width: 992px) {
	.hero {
		flex-direction: column;
		padding: 2em 0;
		margin: 3em auto 0;
		align-items: center;
		width: 80%;
	}

	.hero__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2em !important;

		.solid-btn {
			margin-bottom: 1em;
		}

		.hero__icons {
			margin-left: 0;
		}
	}

	#hero__img img {
		width: 20em;
		height: auto;
	}

	.skills-container {
		padding-bottom: 4em;

		h2 {
			margin-bottom: 1.5em;
		}

		h4 {
			margin: 0.33em;
		}

		.skills {
			gap: 1.5em;
		}
	}
}

/* Phones and down */

@media screen and (max-width: 576px) {
	.hero {
		flex-direction: column;
	}

	.hero__icons {
		margin-left: 0;
	}

	.hero__btns {
		flex-direction: column;
		gap: 1em;
		align-items: center;
		justify-content: center;
		margin-top: 2em !important;
		margin-bottom: 0;
	}

	#hero__img img {
		width: 16em;
		height: auto;
		margin: 0 auto;
	}

	.skills {
		flex-direction: column;
		padding-bottom: 3em;

		h3 {
			margin-top: 2em;
		}

		h4 {
			margin: 0;
		}
	}

	.footer-icons {
		display: none;
	}
}

/* Extra small phones only */

@media screen and (max-width: 320px) {
	.skills-container {
		h2 {
			font-size: 2em;
		}

		.skills {
			padding-bottom: 2em;

			.skill {
				h3 {
					font-size: 1.5em;
					margin-top: 1.5em;
				}

				h4 {
					font-size: 1em;
				}
			}
		}
	}

	#neal-copyright {
		flex: 2;
	}
}
