// html {
// font-size: 16px;
// font-size: 62.5%;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.5rem 0 1rem 0;
	font-style: normal;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: 4rem;
	font-weight: 800;
	line-height: normal;
	color: $dark-green;

	&.cs__h1 {
		color: $beige !important;
		font-weight: 700 !important;
	}
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 153.693%;
	color: $beige;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
	line-height: normal;
	color: $beige;
}

h4 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: normal;
	color: $beige;
}

p {
	font-size: 1.31669rem;
	font-weight: 500;
	line-height: 196.023%;

	&.light {
		color: $beige;
	}

	&.dark {
		color: $dark-gray;
	}

	&.cs__text {
		color: $beige !important;
		font-size: 1.5rem !important;
		font-weight: 600 !important;
		line-height: normal !important;
	}

	&.footer-cta__text {
		color: $beige;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 200.021%;
	}

	&.tiny {
		color: $beige !important;
		font-size: 0.75rem !important;
		font-style: normal !important;
		font-weight: 500 !important;
		line-height: normal !important;
	}
}

a {
	color: $beige;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

.small-caps {
	font-variant: all-small-caps;
	color: $beige;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

span.footer-cta__bold {
	font-weight: 700 !important;
}
