$brown: #bc6c25;
$green: #8cc589;
$pink: #d39dbd;
$purple: #aa86ba;
$olive-green: #a7a948;
$lavender: #8696bf;
$light-green: #b3ba86;
$base-gray: #2e3530;
$base-dark-gray: #222723;
$dark-green: #191c19;
$beige: #e5e2d7;
$gray: #3c453f;
$dark-gray: #272e29;

$gray-shade: rgba(60, 69, 63, 0.749);
$beige-shadow: 0 0 0 0.2rem rgba(229, 226, 215, 0.502);

$font-size: 16px;
$font-family: "Jost", sans-serif;
