$font-size: 16px;
$font-family: "Jost", sans-serif;

$dark-green: #191c19;
$light-gray: #e5e2d7;
$light-gray-shadow: 0 0 0 0.2rem rgba(229, 226, 215, 0.502);
$gray: #3c453f;
$gray-shade: rgba(60, 69, 63, 0.749);
$dark-gray: #272e29;
$brown: #bc6c25;
